<template name="new-radar-modal">
  <div id="new-radar-modal" class="modal hide">
    <form class="modal-form form-horizontal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Create a New Tech Radar</h3>
      </div>
      <div class="modal-body">
        <div class="control-group">
          <label class="control-label" for="new-radar-name">Name</label>
          <div class="controls">
            <input type="text" id="new-radar-name"/>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success">Create</button>
      </div>
    </form>
  </div>
</template>
